.educations {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.educations-section {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}
.educations-section-title {
  font-size: 24px;
  font-weight: 600;
}
.educations-section-title1 {
  font-size: 18px;
  font-weight: 200;
}
.educations-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: flex-end;
}
@media only screen and (max-width: 800px) {
  .educations-list {
    max-width: 100%;
    justify-content: center;
  }
  .educations-section {
    flex-direction: column;
    align-items: center;
  }
}
