.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.menu-icon {
  font-size: 11px;
}
.mobile-menu {
  display: none;
}
.web-menu {
  display: flex;
}
.logo {
  display: flex;
  font-size: 18px;
  color: rgb(10, 4, 75);
  font-weight: 800;
}
@media only screen and (max-width: 769px) {
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 20px;
  }
}
